{% extends 'base.html.twig' %}

{% block title %}Availability index{% endblock %}

{% block body %}
    <h1>Availability index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BeginAt</th>
                <th>EndAt</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for availability in availabilities %}
            <tr>
                <td>{{ availability.id }}</td>
                <td>{{ availability.beginAt ? availability.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ availability.endAt ? availability.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ availability.createdAt ? availability.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ availability.updatedAt ? availability.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_availability_show', {'id': availability.id}) }}">show</a>
                    <a href="{{ path('app_availability_edit', {'id': availability.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_availability_new') }}">Create new</a>
{% endblock %}
